.cover {
	background: var(--colorSecondary25);
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
}

.itemCardEdit {
	margin: 1em;
	background: white;
	padding: 1em;
	box-shadow: 1px 1px 5px #ddd;
	border-radius: 20px;
	width: 80%;
	position: fixed;
	top: 100px;
}

.itemCardEdit label {
	width: 90%;
	text-align: left;
	color: gray;
}
.itemCardEdit input {
	border: none;
	border: solid 1px white;
	box-shadow: 1px 1px 5px #ddd;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	outline: none;
	padding: 0px;
	text-align: center;
	transition: all 100ms;
	width: 90%;
}

.itemCardEdit input:focus {
	border-radius: 20px;
	background: var(--colorPrimary25);
	border: solid 1px var(--colorPrimary25);
}
.itemCardEdit input:hover {
	border: solid 1px var(--colorPrimary);
}

.itemCardEdit__image {
	height: 130px;
	width: 130px;
}

.itemCardEdit__row {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5em;
}
.rowHeader {
	flex-direction: row;
	justify-content: space-around;
}

.itemCardEdit__row > div {
}

.itemCardEdit__actions {
	flex-direction: column;
	justify-content: center;
}

select {
	border: none;
	padding: 4px 10px;
	color: var(--colorPrimary);
	font-size: 1.2em;
}
