.itemUpload {
	padding: 10px;
	align-items: center;
	position: relative;
}

.itemUpload__row {
	display: flex;
	justify-content: center;
	width: 100%;
}

.inputFile {
	background: var(--colorPrimary25);
	border-radius: 20px;
	color: white;
	border: none;
	padding: 1em;
	color: gray;
}

.itemupload__input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.itemUploader__items {
	border: 1px solid red;
	min-width: 100px;
	min-height: 100px;
}
