.itemUpload {
	padding: 10px;
	align-items: center;
	position: relative;
}

.itemUpload__row {
	display: flex;
	justify-content: center;
	width: 100%;
}

.inputFile {
	background: var(--colorPrimary25);
	border-radius: 20px;
	color: #666;
	border: none;
	padding: 0.6em 0.8em;
	font-size: 1.3em;
	cursor: pointer;
}

.itemupload__input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.itemUploader__items {
	border: 1px solid red;
	min-width: 100px;
	min-height: 100px;
}

.emptyList {
	color: var(--colorSecondary);
}
