.cartbutton__btn {
	background: greenyellow;
	color: black;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
	padding: 6px 20px;
	border: none;
	margin: 10px;
	border-radius: 10px;
	transition: all 100ms;
	outline: none;
	border: 1px solid white;
}
.cartbutton__btn:hover {
	transform: scale(1.1);
	filter: brightness(80%);
	border-color: rgba(0, 0, 0, 0);
}

.cartbutton__goToCart {
	background: var(--primary);
	color: white;
}
