.cart {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.cart__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.cart__header h1 {
	margin: 0;
}

.cart__ItemsQty {
	color: gray;
	margin: 0px 1em;
}
.cart__items {
	box-shadow: 1px 1px 5px gray;
	padding: 10px;
	margin: 0 1em 1em;
}
.cart__row {
	display: flex;
	justify-content: space-between;
}
.cart__qty {
	color: red;
	width: 50px;
	text-align: center;
}

.deleteIcon {
	color: gray;
	transform: translate(0px, -25px);
	font-size: 20px !important;
	align-self: center;
}

.cart__totals {
	margin: 1em;
}

.cart__partialTotal {
	text-align: right;
}

.partialTotal__value {
	width: 77px;
	display: inline-block;
}
.cart__shipping {
	text-align: right;
}

.cart__divider {
	border: 1px solid gray;
}

.cart__total {
	background: #ddd;
	font-weight: 800;
	text-align: right;
	margin-bottom: 1em;
}

/* CartCustInfo */

.cart__custInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	width: 60%;
	align-self: center;
}

.cart__custInfo input,
.cart__custInfo textarea {
	width: 100%;
}

.cart__actions {
	border: 1px solid #000;
	margin-bottom: 1em;
}

/* CartItem */
.cartItem {
	display: flex;
	margin: 5px 0;
	flex: 1;
	justify-content: flex;
}
.cartItem__row {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.cartItem__image {
	height: 70px;
	margin-right: 10px;
	width: 70px;
}
.cartItem__title {
	font-weight: 500;
}

.cartItem__description {
	font-size: 0.8em;
	color: gray;
}
.cartItem__price {
	width: 77px;
}

/* CartLabelValue */
.cartLabelValue {
	padding: 4px;
	width: 77px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 0 4px;
	/* background: lightyellow; */
}

.clv-l {
	font-size: 16px;
	color: gray;
}
.clv-v {
	font-size: 1em;
	color: black;
}
