.cartbutton {
	padding: 4px;
	width: 80%;
	display: flex;
	justify-content: center;
}

.btn-state2 {
	display: flex;
	flex-wrap: wrap;
}
.cartbutton__btn {
	color: black;
	background: greenyellow;
	outline: none;
	border-radius: 10px;
	border: 1px solid white;
	margin: 10px;
	border: none;
	width: 200px;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
	padding: 6px 20px;
	transition: all 100ms;
}
.cartbutton__btn:hover {
	transform: scale(1.1);
	border-color: rgba(0, 0, 0, 0);
	filter: brightness(80%);
}

.cartbutton__goToCart {
	background: var(--primary);
	color: white;
}
.state2__message {
	padding: 10px;
	border: solid 1px white;
	flex: 100%;
	text-align: center;
}

.state2__message__border {
	border: solid 1px white;
}

.btn-state2__btnContainer {
	display: flex;
	justify-content: center;
	width: 100%;
}
