.cart {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding: 10px;

	width: 100%;
}

.cart__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.cart__header h1 {
	margin: 0;
}

.cart__row {
	display: flex;
	justify-content: flex-start;
}
.cart__ItemsQty {
	color: gray;
	margin: 0px 1em;
}

/* CartItem  */

.cartItem {
	flex: 1;
}
.cart__items {
	background: white;
	box-shadow: 1px 1px 5px gray;
	box-shadow: 1px 1px 5px gray;
	display: flex;
	flex-direction: column;
	margin: 0 1em 1em;
	padding: 10px;
}

.deleteIcon {
	color: gray;
	transform: translate(0px, -25px);
	font-size: 20px !important;
	align-self: center;
}

.cart__totals {
	background: var(--colorSecondary);
	color: white;
	box-shadow: 1px 1px 5px gray;
	padding: 1em;
	margin: 1em;
}

.cart__partialTotal {
	text-align: right;
}

.partialTotal__value {
	width: 77px;
	display: inline-block;
}
.cart__shipping {
	text-align: right;
}

.cart__divider {
	border: 1px solid white;
}

.cart__total {
	font-weight: 800;
	text-align: right;
	margin-bottom: 1em;
}

/* CartCustInfo */

.cart__custInfo {
	background: white;
	box-shadow: 1px 1px 5px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	width: 82%;
	padding: 1em;

	align-self: center;
}

.cart__custInfo input,
.cart__custInfo textarea {
	width: 100%;
}

.cart__actions {
	border: 1px solid #000;
	margin-bottom: 1em;
}

/* CartItem */
.cartItem {
	display: flex;
	margin: 5px 0;
	justify-content: flex;
	flex-wrap: wrap;
}

.cartItem * {
}

.cartItem__image {
	height: 70px;
	margin-right: 10px;
	width: 50px;
}
.cartItem__row {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}
.cartItem__title {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 1em;
}

.cartItem__description {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: gray;
}
.cartItem__price {
}

/* CartLabelValue */
.cartLabelValue {
	align-items: flex-end;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 2px;

	justify-self: flex-end;
}

.clv-l {
	font-size: 16px;
	color: gray;
}
.clv-v {
	font-size: 1em;
	color: black;
}

.cart__actions {
	display: flex;
	justify-content: center;
}

.cart__purchase {
	padding: 1em;
}
