/* CatalogModal */

.catalogModal {
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

.catalogModal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalogModal__row {
	align-items: center;
	display: flex;
	color: white;
	flex-direction: column;
	text-align: center;
}

.catalogModal__title {
	font-size: 1.5em;
	text-transform: uppercase;
}

.catalogModal__description {
	font-size: 1.3em;
}

.catalogModal__size {
	font-size: 1.1em;
}
.catalogModal__price {
	font-size: 1.1em;
	color: greenyellow;
}

.catalogModal__img {
	border: 3px solid white;
	width: 70%;
}

.catalogModal__infoContainer {
	border: 1px solid red;
}
