/* CatalogItem */

.catalogItem {
	height: 160px;
	width: 160px;
	position: relative;
	overflow: hidden;
	margin: 2px;
}

.imageContainer {
	transition: all 100ms;
}

.imageContainer:hover {
	transform: scale(1.03);
	opacity: 1;
}

.catalogItem__newIcon {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
}

.catalogItem__img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	opacity: 0.8;
}

.catalogItem__img:hover {
	opacity: 1;
	box-shadow: 2px 2px 2px gray;
}
