/* Home.css */
.home {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.home__linksContainer {
	align-items: flex-start;
	align-items: stretch;
	gap: 4px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 1em 1em;
	width: 80%;
}
.home__linksContainer .Link {
	border: 1px solid #bbb;
	display: flex;
	align-items: stretch;
}

.home__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.3em;
	width: 100%;
}

.home__title {
	color: var(--colorSecondary);
}
.home__subtitle {
	font-family: var(--fontSecondary);
	font-size: 0.7em;
	color: var(--colorPrimary);
	color: gray;
}
