/* Home.css */
.home {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	padding: 1em;
}

.home__linksContainer {
	align-items: flex-start;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	gap: 4px;
	font-size: 1em;
	justify-content: space-between;
	margin: 0 1em 1em;
	text-align: center;
	width: 100%;
}
.home__linksContainer .Link {
	border: 1px solid #bbb;
	display: flex;
	align-items: stretch;
}

.home__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.3em;
	width: 100%;
}

.home__title {
	color: var(--colorSecondary);
	font-size: 1.7em;
}
.home__subtitle {
	font-family: var(--fontSecondary);
	color: var(--colorPrimary);
	color: gray;
	font-size: 1em;
}
