.navbar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
}

.navbar > div {
}

.Link {
}

.navbar__logoContainer {
	width: 60px;
}

.navbar__logo {
	width: 70px;
	height: auto;
}
.navbar__search {
	margin: 0 1em;
	flex: 3;
}
.navbar__input {
}
.navbar__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: stretch;
}

.navbar__links .Link {
	background: var(--colorSecondary);
	display: flex;
	align-items: center;
}

.navbar__links .materialIcon {
	align-items: center;
	background: var(--colorSecondary);
	color: white;
	display: flex;
	height: 40px;
	justify-content: center;
	margin: 1px;
	width: 40px;
}

.navbar__user {
	display: flex;
	justify-content: flex-end;
	font-size: 1.1em;
}

.navbar__username {
	font-weight: bold;
	margin-left: 0.5em;
}
